<div class="bgcolor">
  <div class="container" style="padding: 90px 210px;">
    <div class="card" style="width: 50rem;background-color: brown;padding: 150px;">
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label" style="font-weight:bold;">Previous Unit</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Previous unit">
        </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label" style="font-weight:bold;">Current Unit</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Current Unit">
    </div>
      <button type="button" class="btn btn-secondary" style="background-color: black;margin-left: 160px;">Calculate 
      </button>
    </div>
  </div>
</div>
</div>